[project]
	description = Hello World Program
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/Xnonr
[access "refs/for/refs/*"]
	read = group user/Xnonr
	push = group user/Xnonr
	label-Code-Review = -2..+2 group user/Xnonr
	label-Verified = -1..+1 group user/Xnonr
	rebase = group user/Xnonr
	removeReviewer = group user/Xnonr
	submit = group user/Xnonr
[access "refs/heads/*"]
	read = group user/Xnonr
	create = group user/Xnonr
	push = +force group user/Xnonr
	pushMerge = group user/Xnonr
[access "refs/tags/*"]
	push = group user/Xnonr
	push = +force group user/Xnonr
